<template>
    <div class="container">
        <div class="test">

            <div v-for="question in questions"
                    :key="question.id"
                >
                <div class="test-item" 
                    v-if="question.show"
                    >
                    <div class="test-question">
                        {{ question.title }}
                    </div>
                
                    <div class="test-answers">
                        <div class="test-answers-item"
                            v-for="answers in question.answers"
                            :key="answers.id"
                            >
                            <input type="radio"       
                                :id="answers.id" 
                                :value="answers.text" 
                                v-model="picked"
                            >
                            <label 
                                v-if="picked"
                                :for="answers.id"
                                @click="picked = answers.text"
                                :class="answers.itsCorrect ? 'correct': 'wrong'"
                                >
                                {{ answers.text }}
                            </label>{{ answers.text }}
                            
                        </div>
                    </div>
                    <button class="btn-next">Следующий вопрос</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
export default {
    data() {
        return {
            picked:'',
            questions:[
                {
                    id:1,
                    title:"Выберите столицу России",
                    show:true,

                    answers: [
                        { id:11, text:"Москва", itsCorrect:true},
                        { id:12, text:"Санкт-Петербург", itsCorrect:false},
                        { id:13, text:"Екатеринбург", itsCorrect:false},
                        { id:14, text:"Новосибирск", itsCorrect:false}
                    ]
                },
                {
                    id: 2,
                    title: "Выберите столицу США",
                    show: false,

                    answers: [
                        { id:21, text:"Вашингтон", itsCorrect:true },
                        { id:22, text:"Нью-Йорк", itsCorrect:false },
                        { id:23, text:"Лос-Анджелес", itsCorrect:false },
                        { id:24, text:"Бостон", itsCorrect:false }
                    ]
                },
                {
                    id: 3,
                    title: "Выберите столицу Австралии",
                    show: false,

                    answers: [
                        { id:31, text:"Сидней", itsCorrect:false },
                        { id:32, text:"Канберра", itsCorrect:true },
                        { id:33, text:"Мельбурн", itsCorrect:false },
                        { id:34, text:"Брисбен", itsCorrect:false }
                    ]
                },
                {
                    id: 4,
                    title: "Выберите столицу Италии",
                    show: false,

                    answers: [
                        { id:41, text:"Рим", itsCorrect:true },
                        { id:42, text:"Милан", itsCorrect:false },
                        { id:43, text:"Неаполь", itsCorrect:false },
                        { id:44, text:"Турин", itsCorrect:false }
                    ]
                },
            ]
        }
    },
    computed: {

    }
}
</script>

<style lang="scss" scoped>
.test {
    &-question {
        margin-bottom: 3rem;
        font-size: 2rem;
        line-height: 2.1rem;
    }
    &-answers {
        &-item {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }
    }
}

label {
    cursor: pointer;
    &.correct {
        background-color: var(--green);
    }
    &.wrong {
        background-color: var(--red);
    }
}

.btn-next {
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 2rem;
}
</style>